/* Custom Styles */
body {
    padding-bottom: 2rem;
  }
  .container {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Ensure columns don't expand excessively */
  #transactionTable td:nth-child(3), #transactionTable td:nth-child(4), #transactionTable td:nth-child(5) {
    white-space: nowrap; /* Prevent wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add ellipsis for overflow */
    max-width: 150px; /* Limit column width */
  }
  
  /* Custom scrollbar styling */
  .custom-scrollbar::-webkit-scrollbar {
      height: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 4px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
      background: #3b82f6;
      border-radius: 4px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
      background: #2563eb;
  }